@import '../../assets/styles/global-config';

.container {
  background-color: $bgAlerts;
  position: fixed;
  display: flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  z-index: 1000;
  top: 0;
  bottom: 0;
}

.wrapperContainer {
  background: $bgInput;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 40px;
  width: 400px;
  min-width: 500px;
  z-index: 10;
}