@import '../../assets/styles/global-config';

.buttonPrimary {
  padding: 20px !important;
  letter-spacing: 2pt;
  background-color: transparent;
  border: solid 2px $title !important;
  border-radius: 0px !important;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $title;
    color: $bgInput; 
  }
}
